.about {
  display:grid;
  justify-items: center;
  grid-column-gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.img_machine {
  width: 100%;
}


.about_coffee_space {
  margin: 10px;
  width: 100%;
}

.marker {
  width: 20px;
}

.coffee_paragraph_heading{
  display: grid;
  grid-template-columns: auto 1fr;
}

.coffee_paragraph_heading{
  display: grid;
  grid-template-columns: auto 1fr;
}

.indulgo-espresso_img {
  width: 100%;
  height: 338px;
}

.about_indulgo {
  background-image: url(../img/section_about/indulgo.png);
  text-align: center;
  width: 100%;
}

.about_espresso {
  background-image: url(../img/section_about/espresso_coffee_beans.png);
  text-align: left;
  width: 100%;
}

.header_name {
  color: rgb(192, 4, 7);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

.coffee_space_steps_header {
  color: rgb(34, 34, 34);
  font-size: 40px;
  font-family: Poppins, sans-serif;
}

.coffee_space_steps_paragraph {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(101, 101, 101);
}

.coffee_space_text {
  font-size: 16px;
  color: rgb(140, 140, 140);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.coffee_paragraph_heading {
  font-size: 16px;
  color: rgb(34, 34, 34);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.indulgo_header {
  font-size: 40px;
  color: rgb(34, 34, 34);
  font-family: Poppins, sans-serif;
}

.indulgo_z {
  font-size: 40px;
  color: rgb(192, 4, 7);
  font-family: Poppins, sans-serif;
}

.about_line {
  width: 9%;
  height: 2px;
  color: rgb(192, 4, 7);
  margin: auto;
}

.indulgo_paragraph {
  color: rgba(41, 40, 40, 0.8);
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.espresso_header {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: Poppins, sans-serif;
}

.espresso_paragraph {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Poppins, sans-serif;
}

.espresso_text_us {
  color: rgb(192, 4, 7);
  font-size: 32px;
  font-family: Poppins, sans-serif;
}

.espresso_order {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pfeil {
  color: rgb(192, 4, 7);
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}