.kaffemaschine {
  float: left;
  position: relative;
  width: 100%;
}

.about_coffee {
  text-align: left;
  float: right;
  position: relative;
  width: 100%;
}

.coffee111 {
  display: block;
  display: flex;
  margin-bottom: 1em;
}