.faq-section {
  margin: 50px 15px 0;
}

.faq-section details {
  padding: 20px 0;
}

details[open] summary {
  margin: 10px;
}

details p {
  padding: 5px 20px;
}

#photo-happy-women {
  object-fit: cover;
  width: 350px;
  border-radius: 2%;
  margin-bottom: 60px;
}

.heading-answer {
  padding-right: 10px;
  font-size: 18px;
  line-height: 1.6;
}

.questions-dropdown {
  cursor: pointer;
  padding-bottom: 50px;
}

footer {
  width: 100%;
  background-color: var(--bg-color);
  padding: 50px 0;
}

.footer-map {
  border: 0;
  width: 320;
}