/* Yuliia's part */

.faq-section-wrap {
  padding: 0 20px;
  margin-top: 20px;
}

.faq-section {
  max-width: 1500px;
}

.faq-section details {
  padding: 20px 0;
  border-bottom: solid;
  border-color: var(--text-color);
  border-width: 0.5px;
  cursor: pointer;
}

.faq-questions {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  color: var(--background-darkened);
  display: flex;
  justify-content: space-between;
}

.faq-questions::-webkit-details-marker {
  display: none;
}

.faq-questions::after {
  content: url(../img/footer/arrow-icon.svg);
  transition: transform 0.3s ease;
}

.faq-question-answer p {
  margin: 12px 0 0;
  padding: 5px 0;
  cursor: text;
  font-size: 12px;
  transition: transform 0.3s ease;
}

details[open]>.faq-questions::after {
  transform: rotate(90deg);
}

details[open]>.faq-question-answer {
  animation: drop .4s ease forwards;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) ease-in-out;
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.faq-questions * {
  display: inline;
}

#photo-happy-women {
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
}

.faq-mini-heading {
  margin: 10px 0;
}

.faq-heading-wrapper {
  width: 100%;
  max-width: 1500px;
}

.heading-answer {
  font-size: 12px;
  margin: 10px 0 20px;
  padding-right: 20px;
  line-height: 1.6;
}

.questions-dropdown {
  width: 100%;
  padding-bottom: 50px;
}

.upper-footer-wrap {
  padding: 50px 20px;
  max-width: 1500px;
}

#consultation-offer {
  font-size: 16px;
  margin: 10px 0;
}

.contacts-info {
  margin-top: 20px;
  padding: 0;
}

.contacts-info p {
  font-size: 12px;
}

.footer-map-wrap {
  max-height: 250px;
}

.footer-map {
  border: 0;
  width: 100%;
}

.input-footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 1500px;
  height: 80vh;
  background-color: white;
  border-radius: 2%;
  margin-top: 40px;
}

.input-footer {
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-data-input {
  height: 6.5vh;
  width: 100%;
  border-style: none;
  font-size: 10px;
  padding: 20px;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

#quote-input {
  height: 23vh;
}

.submit-button-footer {
  background-color: var(--text-higlight);
  color: var(--bg-color);
  border-style: none;
  width: 100%;
  height: 7vh;
  transition: var(--transition-hover);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.submit-button-footer:hover {
  background-color: var(--heading-color);
}

.footer-info-section {
  background-color: var(--contacts-bg);
  height: 110%;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
}

.footer-about-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 60px 20px 10px; */
}

.footer-about-wrap span {
  text-align: center;
  color: var(--text-color-transparent);
}

.footer-service-logo {
  width: 50vw;
  max-width: 750px;
  margin-bottom: 20px;
}

.footer-nav {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav-text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.footer-nav-text-block>* {
  padding: 7px;
}

.footer-nav-heading {
  color: var(--head-text-color);
}

.footer-nav-link {
  color: var(--text-color-transparent);
  text-decoration: none;
  transition: var(--transition-hover);
  font-size: 13px;
}

.footer-nav-link:hover {
  color: var(--head-text-color);
}

.newsletter-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 1200px;
}

.email-label {
  color: var(--head-text-color);
  font-size: 14px;
  margin-bottom: 10px;
}

#email-subs {
  width: 90vw;
  max-width: 1200px;
  height: 6vh;
  background-color: rgb(46, 46, 46);
  border: none;
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

#email-subs:focus {
  color: var(--head-text-color);
}

.subscription-button {
  background-color: var(--text-higlight);
  color: var(--bg-color);
  border-style: none;
  border-radius: 0;
  width: 100%;
  height: 6vh;
  margin: 15px 0 0;
  transition: var(--transition-hover);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.subscription-button:hover {
  background-color: var(--bg-color);
  color: var(--background-darkened);
}

.copyright-section {
  background-color: rgb(20, 20, 20);
  height: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright-text-wrapper {
  margin: 10px;
}

.copyright-text {
  color: var(--text-color-transparent);
  font-size: 10px;
}

.footer-icon-wrapper {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.footer-icon {
  width: 20px;
  background-color: rgb(46, 46, 46);
  transition: var(--transition-hover);
  margin: 5px;
}

.footer-icon:hover {
  background-color: var(--text-color);
}

.modal-window-img {
  width: 100%;
}

@media (min-width: 700px) {
  .faq-section-wrap {
    padding: 120px 30px;
  }

  .faq-section {
    display: flex;
    align-items: flex-start;
  }

  #photo-happy-women {
    max-height: 410px;
  }

  .heading-answer {
    font-size: 12px;
    margin: 10px 0 8px;
  }

  .question-heading {
    font-size: 24px;
  }

  .faq-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin: 0 15px;
  }

  .questions-dropdown {
    padding-bottom: 0;
  }

  .faq-section details {
    padding: 10px 0;
  }

  .faq-questions {
    font-size: 13px;
    color: var(--heading-color);
  }

  .faq-questions::before {
    font-size: 16px;
  }

  details[open] .faq-questions::before {
    font-size: 16px;
  }

  .upper-footer-wrap {
    width: 100%;
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .contacts-section {
    width: 35%;
    margin-right: 20px;
  }

  .contacts-info {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin-top: 10px;
  }

  .contacts-info:first-child {
    grid-column: 1;
    font-size: 14px;
  }

  .contacts-info p {
    grid-column: 2;
    font-size: 11px;
  }

  .input-footer-wrap {
    height: 100%;
    width: 40%;
    margin: 0;
  }

  .footer-info-section {
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }

  .footer-service-logo {
    width: 50%;
    margin-bottom: 10px;
  }

  .footer-about-wrap {
    margin: 0;
    width: 25%;
    align-items: flex-start;
  }

  .footer-about-wrap span {
    text-align: start;
    font-size: 10px;
  }

  .email-label {
    margin-bottom: 20px;
  }

  .newsletter-subscription {
    width: 32%;
    height: 100%;
    align-items: center;
  }

  .subscription-button, #email-subs {
    width: 100%;
  }

  .footer-nav {
    flex-direction: row;
    width: 35%;
  }

  .footer-nav-heading {
    font-size: 14px;
  }

  .footer-nav-text-block {
    align-items: flex-start;
  }

  .footer-nav-link {
    font-size: 10px;
  }

  .copyright-section {
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
  }

  .copyright-text {
    font-size: 8px;
  }

  .footer-icon {
    width: 15px;
  }
}

@media (min-width: 900px) {
  .faq-section-wrap {
    padding: 120px 50px;
  }

  .upper-footer-wrap {
    padding: 120px 50px;
  }

  .footer-info-section {
    padding: 50px 150px;
  }
}

@media (min-width: 1000px) {
  .faq-section-wrap {
    padding: 120px 100px;
  }
}