.exceptional-taste-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exceptional-taste__img {
  width: 100%;
  object-fit: cover;
}

.exceptional-taste__text {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  background-color: var(--bg-color);
}

.exceptional-taste__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c00407;
  border-radius: 80px;
  width: 47px;
  height: 47px;
  margin-bottom: 5px;
}
.mini-heading{
  margin-top: 30px;
        color: #c00407;
        font-size: 12px;
        line-height: 19px;
        font-family: "Roboto";
        font-weight: 700;
}
.heading{
        color: #222;
        font-size: 40px;
        line-height: 48px;
        font-family: "Roboto";
        font-weight: 700;
}
p{
    color: #8c8c8c;
        font-size: 16px;
        font-family: "Roboto";
        font-weight: 400;
}
.sub-heading{
    font-size: 20px;
}
.exceptional-taste__icon {
  width: 20px;
}

.sub-heading__text {
  font-size: 12px;
}
.list-item-container {
        display: flex;
        align-items: center;
      }
      .list-item-first {
        height: 60px;
        width: 60px;
        background-color: #c00407;
        border-radius: 50%;
        padding: 10px; 
        text-align: center;
      }
      .list-item-first img {
        width: 50px;
        height: 50px;
        margin: auto;
      }
      .list-item-second {
        padding-left: 15px;
      }

      .list-item-title {
        color: #222;
        font-size: 22px;
        font-family: "Roboto";
        font-weight: 600;
      }
      .list-item-description {
        color: #8c8c8c;
        font-size: 16px;
        font-family: "Roboto";
        font-weight: 400;
      }

@media (min-width: 750px) {
  .exceptional-taste-wrap {
    flex-direction: row;
  }

  .exceptional-taste__img {
    width: 50%;
  }
}
.list-elements{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.list-elements img{
  width: 20px;
  flex: 0.3;
}
.list-elements ul{
  list-style-type: none;
}
.list-elements-text{
  color: #8c8c8c;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
.last-text{
  line-height: 1.5;
}
.button{
  margin-top: 35px;
}
.button a{
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color:  #c00407;
  transition: 0.5s;
}
.button a:hover{
background-color: #222;
}