.exceptional-taste-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exceptional-taste__img {
  width: 100%;
  object-fit: cover;
}

.exceptional-taste__text {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  background-color: var(--bg-color);
}

.exceptional-taste__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 80px;
  width: 47px;
  height: 47px;
  margin-bottom: 5px;
}

.exceptional-taste__icon {
  width: 20px;
}

.sub-heading__text {
  font-size: 10px;
}

@media (min-width: 750px) {
  .exceptional-taste-wrap {
    flex-direction: row;
  }

  .exceptional-taste__img {
    width: 50%;
  }
}