.section__video {
  min-height: 100px;
  background: url(../img/testimonials/coffee-dark.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  height: 90vh;
  padding: 0 20px;
}

.section__video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__coffe__wrap {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.video__content {
  padding-top: 90px;
  padding-bottom: 40px;
}

.video__text {
  color: var(--head-text-color);
  font-size: 60px;
  line-height: 1.1;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

.ikonka__text {
  font-weight: bold;
  color: var(--head-text-color);
  margin: 0;
}

.ikonka__video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ikonka__video__play {
  padding-right: 15px;
  width: 70px;
}

.section__choice {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice__header {
  font-size: 28px;
  line-height: 1.4;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
}

.button__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.choice__button__coffe {
  color: var(--heading-color);
  background-color: var(--bg-color);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 2px;
  width: 150px;
}

.choice__button__more {
  color: var(--head-text-color);
  border-color: var(--head-text-color);
  background-color: var(--background);
  border-radius: 2px;
  width: 150px;
}

.testimonials {
  padding: 120px 0;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.name__client {
  color: var(--text-higlight);
  font: inherit;
  vertical-align: baseline;
  font-family: 'Poppins', SemiBold;
}

.testimonials__text {
  color: var(--testimonials-text);
  font-style: italic;
  text-align: left;
  position: relative;
  min-width: 320px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.section__choice {
  background-color: var(--background);
}

.choice__header, .choice__text {
  color: var(--head-text-color);
}

.testimonials-carousel {
  margin-top: 60px;
}

.testimonials__slide {
  padding-left: 15px;
  padding-right: 15px;
}

.text__data {
  font-size: 12px;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  color: var (--heading-color);
  text-transform: none;
}

@media (min-width: 700px) {
  .testimonials {
    padding-bottom: 0;
  }

  .button__container {
    flex-direction: row;
  }

  .testimonials {
    padding: 70px;
  }
}

@media (min-width: 768px) {
  .video__text {
    font-size: 63px;
    line-height: 1.1;
    letter-spacing: 0;
  }
}