.section__video {
  min-height: 100px;
  background: url(../img/testimonials/coffee-dark.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  height: 90vh;
  padding: 0 20px;
}

.section__video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__coffe__wrap {
  justify-content: center;
  align-items: center;
}

.video__content {
  padding-top: 90px;
  padding-bottom: 40px;
  justify-content: start;
}

.content__text {
  color: var(--text-higlight);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  margin: 20px 0;
}

.video__text {
  color: var(--head-text-color);
  font-size: 60px;
  line-height: 1.1;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

.ikonka__text {
  font-weight: bold;
  color: var(--head-text-color);
  margin: 0;
}

.ikonka__video {
  display: flex;
  justify-content: start;
  align-items: center;
}

.ikonka__video__play {
  padding-right: 15px;
  width: 70px;
}

.section__choice {
  padding: 50px 24px;
}

.section__choice-content {
  padding: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.choice__header {
  font-size: 24px;
  line-height: 1.4;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
}

.choice__text {
  margin-top: 25px;
}

.button__container {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.choice__button__more, .choice__button__coffee {
  border-radius: 2px;
  width: 120px;
  height: 30px;
  font-size: 12px;
  transition: var(--transition-hover);
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

.choice__button__coffee {
  color: var(--heading-color);
  background-color: var(--bg-color);
  margin-left: 0;
}

.choice__button__more {
  border: solid;
  border-color: var(--head-text-color);
  color: var(--head-text-color);
}

.choice__button__coffee div, .choice__button__more div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice__button__coffee:hover {
  color: var(--head-text-color);
  background-color: var(--background-darkened);
}

.choice__button__more:hover {
  color: var(--heading-color);
  background-color: var(--bg-color);
}


.section__choice {
  background-color: var(--background);
}

.choice__header, .choice__text {
  color: var(--head-text-color);
}

.text__data {
  font-size: 12px;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  color: var (--heading-color);
  text-transform: none;
}

@media (min-width: 700px) {
  .button__container {
    flex-direction: column;
    padding-bottom: 0;
  }

  .section__choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  .section__video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }

  .chois__container {
    padding-bottom: 0;
  }

  .video__coffe__wrap {
    display: flex;
    justify-content: space-between;
  }

  .ikonka__video {
    margin-left: 100px;
  }

  .section__choice {
    padding: 20px 100px;
  }
}

@media (min-width: 768px) {
  .video__text {
    display: flex;
    justify-content: space-between;
  }

  .choice__text {
    margin-top: 5px;
  }
}

@media (min-width: 800px) {
  .button__container {
    flex-direction: row;
  }
}