.section__video {
  min-height: 100px;
  background: url(../img/testimonials/coffee.png) center center/cover no-repeat fixed;
}

.section__video-container {

}

.video__coffe__fon {
  background-color: var(--background-darkened);
  display: flex;
  justify-content: center;
  padding: 0 40px;
}

.video__content {
  position: relative;
  min-width: 320px;
  padding-top: 90px;
  padding-bottom: 90px;
}

.video__text {
  color: var(--head-text-color);
  font-size: 48px;
  line-height: 1.1;
  font-family: Poppins,sans-serif;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  margin-top: 20px;
  display: block;
}


.ikonka__video {
  font-weight: bold;
  text-align: left;
  color: var(--head-text-color);
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

@media (min-width: 768px) {
  .ikonka__video {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
}

.ikonka__video__play {
  color: var(--head-text-color);
  max-height: 40px;
  padding-right: 15px;
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .ikonka__video__play {
    width: 70px;
  }
}

.ikonka__text {
  font-weight: bold;
  display: block;
}

@media (max-width: 800px) {
  .ikonka__text {
    font-size: inherit;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .video__text {
    font-size: 63px!important;
    line-height: 1.1!important;
    letter-spacing: 0!important;
  }
}
.section__choice {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button__container {
  justify-content: center;
  margin: 20px;
}

.choice__button__coffe {
  color: var(--heading-color);
  background-color: var(--bg-color);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  margin: auto;
  border-radius: 2px;
}

.choice__button__more {
  color: var(--head-text-color);
  border-color: var(--head-text-color);
  background-color: var(--background);
  border-radius: 2px;
}

.testimonials {
  padding-top: 115px;
  padding-bottom: 100px;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.name__client {
  color: var(--text-higlight);
  font: inherit;
  vertical-align: baseline;
  font-family: Poppins SemiBold;
}

.testimonials__text {
  color: var(--testimonials-text);
  font-style: italic;
  text-transform: none;
  text-align: left;
  position: relative;
  min-width: 320px;
  padding-top: 05px;
  padding-bottom: 05px;
}

.section__choice {
  background-color: var(--background);
}

.choice__header, .choice__text {
  color: var(--head-text-color);
}

.testimonials-carousel {
  margin-top: 60px;
}

.testimonials__slide {
  padding-left: 15px;
  padding-right: 15px;
}


.text__data {
  font-size: 12px;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  color: var (--heading-color);
  text-transform: none;
}

@media (min-width: 700px) {
  .testimonials {
    padding-bottom: 0;
  }
}