.services {
  margin: 40px 15px; 
}
.service-image {
  display: inline-block;
  width: 100%;
}

.main {
  text-transform: uppercase;
  color: var(--text-higlight);
  text-align: center;
  font-size: 11px;
}

.services-head {
  text-align: center;
  font-size: 34px;
}

.services-text {
  text-align: center;
  font-size: 18px;
  color: rgb(101, 101, 101);
}

.border {
  border: 1px solid rgb(101, 101, 101);
  padding: 10px;
  box-shadow: 3px 3px 5px #999;
}
.services-defenition {
  margin: left 25px;
}
.nav-list li {
  display: inline-block;
  padding: 0 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  color: rgb(101, 101, 101);
}

.about-rental {
  color: black;
  font-size: 16px;
}

.component {
  height: 2px;
  width: 11%;
  background-color: var(--text-higlight);
}

.main-text {
  color: rgb(81, 81, 81);
  text-align: left;
  font-size: 16px;
}

.red-icon {
  display: inline;
  width: 15px;
  height: 15px;
}

.advantages {
  position: relative;
  bottom: 40px;
  left: 30px;
  color: #8c8c8c;
  display: contents;
}

.red-short-line {
  height: 2px;
  width: 11%;
  background-color: #c00407;
  margin-top: 9px;
  margin-bottom: 9px;
}

@media (min-width: 750px) {
  
  .services {
    padding-top: 45px;
    padding-bottom: 25px;
  }

  .main {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    font-stretch: 100%;
    padding: 10px;
    color: var(--text-higlight);
  }

  .services-head {
    text-align: center;
    font-size: 37px;
    box-sizing: border-box;
    font-stretch: 100%;
    font-stretch: 100%;
    padding: 10px;
  }

  .services-text {
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 23%;
    padding-right: 23%;
    margin-bottom: 6%;
  }

  .border {
    border: 2px solid rgb(101, 101, 101);
    padding: 20px;
    box-shadow: 3px 3px 5px #999;
    flex-direction: column;
    position: relative;
    margin: 6px;
    border-width: medium;
  }

  .about-rental {
    color: black;
    font-size: 22px;
    padding-top: 5%;
  }

  .benefits {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .main-text {
    box-sizing: border-box;
    font-size: 16px;
    padding-top: 15px;
  }

  .aboutservices {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .service-image {
    width: 90%;
  }

  .services-name {
    display: flex;
    width: 90%;
  }

  .red-short-line {
    height: 2px;
    width: 11%;
    background-color: #c00407;
  }

  .red-icon {
    width: 20px;
    height: 24px;
  }

  .services-defenition {
    display: block;
    flex-wrap: wrap;
    margin: left 25px;
  }

  .advantages {
    position: relative;
    bottom: 40px;
    left: 30px;
    color: #8c8c8c;
    display: contents;
    font-size: 16px;
  }
}