.all_steps {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin: 20px;
}

.img_steps{
width: 100%;
}

.steps{
  display: block;
  align-items: center;
  text-align: center;
  margin: 20px;
}