.indtext {
  position: absolute;
  color: black;
  font-size: 1em;
  text-align: center;
}

.ind {
  float: left;
  position: relative;
  width: 100%;
}

.esp {
  float: right;
  position: relative;
  width: 100%;
}

.esptext {
  position: absolute;
  color: white;
  font-size: 1em;
  text-align: center;
}

.indesp {
  display: flex;
}

.all_steps {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}