.all_steps {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

.img_steps {
  width: 100%;
}

.steps {
  display: grid;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.all_steps_header {
  color: rgb(34, 34, 34);
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all_steps_number {
  color: rgb(192, 4, 7);
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all_steps_paragraph {
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}