.testimonials-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials-carousel__slide {
    min-height: 400px;
    display: flex;
    justify-content: space-around;
}