.testimonials-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials-carousel__btn-prev,
.testimonials-carousel__btn-next {
    border: none;
    background-color: var(--white-color);
}

.testimonials__btn {
  width: 100%;
  height: 100%;
  width: 35px;
}

.testimonials-carousel__slides {
  min-height: 100px;
  display: flex;
  justify-content: space-around;
}