.testimonials {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  padding: 90px 20px;
  background-color: var(--bg-color);
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonials__text {
  color: var(--testimonials-text);
  font-style: italic;
  text-align: left;
  width: 200px;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.testimonials-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.testimonials__slide {
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}

.testimonials__image {
  width: 90%;
}

.testimonials-carousel__btn-prev,
.testimonials-carousel__btn-next {
  border: none;
  background-color: var(--bg-color);
}

.testimonials__btn {
  width: 100%;
  height: 100%;
  width: 35px;
}

.testimonials-carousel__slides {
  min-height: 100px;
  display: flex;
  justify-content: start;
}

.name__client {
  color: var(--text-higlight);
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 700px) {
  .testimonials {
    padding-bottom: 70px;
  }

  .testimonials__image {
    width: 100px;
  }

  .testimonials-carousel__slides {
    justify-content: space-around;
  }
}